
<h1 class="centered">Home</h1>

<div>
	<%= render 'home/most_popular_coupons' %>
</div>
<div>
	<%= render 'home/closest_coupons' %>
</div>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<div>
	<%= render 'home/upcoming_events' %>
</div>


