/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 @import "bourbon";

body {
	margin-left: 2em;
	margin-rigth: 2em;
	padding-top: 60px;
  background-color:   #FAFAFA;
}
header.main {
	text-align: center; // center on mobile
	@media (min-width: 30em) {
		text-align: left; // left align on desktop
	}
	background: #282;
	margin: 0;
	h1 {
		display: none;
	}
}
.content {
	margin: 0;
	padding: 0;
	display: flex;
	display: -webkit-flex;
	flex-direction: column; // mobile is horizontally laid out
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	@media (min-width: 30em) {
	flex-direction: row; // desktop is vertically laid out
	-webkit-box-orient: horizontal;
	}

	main {
		padding: 0.5em;
	}
}

tr.mobi{
    border: 5px solid #FAFAFA;
    background-color: #D2E0EB;
}

td{
 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table.mobi, thead.mobi, tbody.mobi, th.mobi, td.mobi, tr.mobi { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  }