// Place all the styles related to the CouponSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spa_entry {
	td {
	  min-width: 100px;

	  p{
	  }

	  img {
	    width: 80px;
	    margin-bottom: 5px;
	  }
	}
}
.noborder td, .noborder th {
    border: none !important;
}