// Place all the styles related to the CouponSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coupon_search{
background-color: #0C3C60;
padding: 1em;
border: 5px solid white;

table{
	border: 5px solid white;
}

.spa_entry {
	td {
	  min-width: 100px;

	  p{
	  }

	  img {
	    width: 80px;
	    margin-bottom: 5px;
	  }
	}
}
th.sortable {
        cursor: pointer;
    }
 }