// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home {
	background-color: #0C3C60;
	padding: 5px;
	width: 100%;
	border: 2px solid black;
	color: white;
	h1.centered{
		text-align: center;
	}
	h2.centered{
		text-align: center;
	}
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    td{
      text-align: center;
    }

    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .scroll-box{
      max-height: 350px;
      overflow-y: scroll;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border: 5px solid grey;
      background-color: #FAFAFA;
    }

    .white{
    	color: white;
    }

@media 
only screen and (min-width: 760px),
(max-device-width: 768px) and (min-device-width: 1024px)  {
    td{
       width:25%;
      align: center;
      valign:middle;
    }
}


}


