<ul class="nav navbar-nav">
  <li><a href="">Home</a></li>
  <li><a href="#">My Account</a></li>
  <li><a href="#">Coupons</a></li>
  <li><a href="#">Events</a></li>
  <li><a href="#">Login</a></li>
</ul>