
<li><%= link_to 'Home', home_index_path %></li>
<li><a href="#">My Account</a></li>
<li><%= link_to 'Coupons', coupons_path %></li>
<li><%= link_to 'Events', events_path %></li>
<li><a href="#">Login</a></li>